<div class="container">
  <div class="row">

    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <h4>Admin</h4>
            <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
            <p><%= link_to 'Coupons manager', coupons_path %> <%= Coupon.count %></p>
        <% else %>
            <h3>Client dashboard</h3>
        <% end %>
    <% else %>
        <h3>My awesome landing page (just some basic tests now)</h3>


        <%= link_to 'Signup & pay', new_user_registration_path, data: { no_turbolink: true }, :class => 'btn btn-success btn-primary' %>

  <% end %>
  </div>
</div>



