<div class="container">
  <div class="row">

    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <h4>Admin</h4>
            <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
            <p><%= link_to 'Coupons manager', coupons_path %> <%= Coupon.count %></p>
        <% else %>
            <div class="jumbotron">
              <h1>Client dashboard</h1>
              <p><a class="btn btn-primary btn-lg">Useless button</a></p>
            </div>
        <% end %>
    <% else %>
        <div class="jumbotron">
          <h1>Ole!</h1>
          <p>Sign in/Sign up/Payments basic integration</p>
          <p> <%= link_to 'Signup & pay', new_user_registration_path, data: { no_turbolink: true }, :class => 'btn btn-lg btn-primary' %></p>
        </div>


  <% end %>
  </div>
</div>



